# Name of website
title: Sniffnet

# Author name
author: Giuliano Bellini

# List of tabs in the navigation bar
navbar-links:
  News: "news"
  Download: "download"
  Gallery: "gallery"
  Sponsor: "sponsor"

# Logo
avatar: "/assets/img/icon.svg"

# If you want to have an image logo in the top-left corner instead of having the title of the website
#title-img: /path/to/image

# RSS feed description
rss-description: "Sniffnet: comfortably monitor your Internet traffic"

###########################
# --- General options --- #
###########################

# Excerpt word length - Truncate the excerpt of each post on the feed page to the specified number of words
excerpt_length: 50

# Whether or not to show an excerpt for every blog post in the feed page
feed_show_excerpt: true

# Add a search button to the navbar
post_search: true

# Allow sub-menu items (second-level navigation menu items) to be longer than the top-level menu
# If this setting is off, then long sub-menu words might get cut off
# See https://github.com/daattali/beautiful-jekyll/issues/765 to understand the issue this setting can solve
navbar-var-length: false

# The keywords to associate with your website, for SEO purposes
keywords: "sniffnet,network,internet,monitor,rust"


# Colors
navbar-col: "#081020"
navbar-text-col: "#01c6ff"
navbar-border-col: "#01c6ff"
page-col: "#0f1e3c"
text-col: "#cccccc"
link-col: "#01c6ff"
hover-col: "#a0e8f8"
footer-col: "#081020"
footer-text-col: "#888888"
footer-link-col: "#01c6ff"
footer-hover-col: "#a0e8f8"

# Ruby Date Format to show dates of posts
date_format: "%B %-d, %Y"

# Output options (more information on Jekyll's site)
timezone: "America/Toronto"
markdown: kramdown
highlighter: rouge
permalink: /news/:title/
paginate: 5
paginate_path: /news/page:num/
future: true

kramdown:
  input: GFM

# Default YAML values (more information on Jekyll's site)
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  -
    scope:
      path: "" # any file that's not a post will be a "page" layout by default
    values:
      layout: "page"

# Exclude these files from production site
exclude:
  - CHANGELOG.md
  - CNAME
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - screenshot.png
  - docs/
  - update_download_stats.sh
  - download_daily.txt
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

# Jekyll plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
